.txt-input {
    display: flex;
    align-items: center;

    /* background-color: #fff; */

    border-radius: 20px;

    padding: 8px 12px;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;

    width: 95%;
    /* max-width: 500px; */

    margin: 0 auto;
    margin-top: 7px;

    background-color: #eaf1fb;
    border: none;
}

.input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 16px;
    color: #333;
    background-color: #eaf1fb;
}

.material-symbols-outlined {
    font-size: 24px;
    color: #5f6368;
    /* color:red; */
    margin-right: 8px;
}