
.txt-input {
    display: flex;
    align-items: center;
    
    width: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1em;

    border-style: none;
    border-radius: 2em;

    margin: 10px;
}

.txt-input:hover {
    border: none;
}