

.mail-preview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 40px;
    font-weight: bold;
}

.mail-preview:hover .mail-actions {
    display: block;
}

.mail-actions {
    display: none;
}

.mail-preview:hover .mail-date {
    display: none;
}

.mail-preview .mail-subject {
    text-align: start;
    overflow: hidden;
    font-size: 14px;
    white-space: nowrap;
}

.mail-body {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mail-preview .mail-date {
    text-align: end;
    font-size: 12px;
    color: #777;
}

.mail-preview:hover {
    background: #f9f9f9;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mail-info {
    display: flex;
    height: 40px;
    width: 480px;
    align-items: center;
    margin-right: auto;
    gap: 5px;

}

.mail-from {
    width: 170px;
    padding-inline-end: 2em;
}

.mail-actions {
    justify-self: end;
}

.remove-btn:hover {
    cursor: pointer;
}

.divider {
    width: 32px;
    height: 40px;
}

.read {
    font-weight: 400;
}

.mail-preview .material-symbols-outlined.btn {
    cursor: pointer;
    color: gray;
    transition: color 0.3s;
}

.mail-preview .material-symbols-outlined.btn.starred {
    color: gold;
}

.mail-preview .material-symbols-outlined.btn.unstarred {
    color: gray;
}

