.note-preview {
    border-radius: 12px;
    height: fit-content;
}

.note-preview:hover {
    display: block;
}

.btn-note {
    display: flex;
    justify-content: space-evenly;

    padding-top: 5px;
    display: hidden;
}

.btn {
    cursor: pointer;
}

.btn-note {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.single-note:hover .btn-note {
    opacity: 1;
}