 /* note list */
 /* .main {
     display: grid;
     grid-template-columns: 1fr 3fr;

 } */

 .note-list {
     list-style: none;
     column-count: 4;
     padding: 50px;
     min-height: 100vh;

 }

 .note-list>* {
     break-inside: avoid;
 }

 .note-search {
     font-size: 16px;
     background-color: #f1f3f4;
 }

 .note-search-container {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 20px 0;
 }

 .single-note {
     border-radius: 12px;
     padding: 7px;
     height: fit-content;
     margin: 10px 0;
     color: #202124;
     width: 240px;
 }

 .text {
     color: #202124;
     font-size: 14px;
 }

 li {
     font-size: 14px;
 }