 /* note index */
 .note-index {
    display: grid;
    grid-template-rows: 1f1 10fr;
    background-color: white;
 }

 .color-btn {
    width: 40px;
    height: 40px;
    border: none;
    margin: 5px;
    cursor: pointer;
    outline: none;
 }

 .content {
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 20px;
 }

 .note-filter {
   display: flex;
   align-items: center;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 12px;
   padding: 8px 12px;
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
   transition: box-shadow 0.2s ease-in-out;
   width: 80%;
   max-width: 500px;
   margin: 0 auto;
   background-color: #F8F8F8;
   margin-top: 7px;
   
}

.note-search-input {
   flex: 1;
   border: none;
   outline: none;
   padding: 8px;
   font-size: 16px;
   color: #333;
   background-color: #F8F8F8;

}

.note-search-input::placeholder {
   color: #999;
}

.search-icon {
   font-size: 24px;
   color: #5f6368;
   margin-right: 8px;
}