header {
    background: #E3F5FF;
    
    border-bottom: 2px solid white;
    font-size: 18px;
    height: 100px;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 0; */
}

nav a {
    margin: .5em;

}

nav a:active {
    color: purple;
}

nav a.active {
    color: #2A2B2C;
    font-weight: bold;
    text-decoration: overline;
}

.logo {
    width: 9.375em;
    /* height: 3.75em; */
    padding-left: 5px;
}
.logo-gmail{
    width: 2em;
}
.logo-keep{
    width: 1.2em;
}