header {
    background: lightcyan;
    border-bottom: 2px solid white;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px 0; */
}

nav a {
    margin: .5em;

}

nav a:active {
    color: purple;
}

nav a.active {
    color: darkblue;
    font-weight: bold;
    text-decoration: overline;
}

.logo {
    width: 9.375em;
    /* height: 3.75em; */
    padding-left: 5px;
}
.logo-gmail{
    width: 2em;
}
.logo-keep{
    width: 1.2em;
}